target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.swp
.project
*/classes/*
/target/
.classpath
.svn/
/.svn/
/.settings
.settings/
.mymetadata
*/META-INF/*
META-INF/
/ksd-service/*.gitignore
/ksd-dao/*.gitignore
/ksd-utils/*.gitignore
/ksd-app/*.gitignore
.idea
.idea/
*.iml
*/rebel.xml
generator-output/
/uloo-autoerp-sales/src/main/webapp/ulooerp/build/production/
uloo-autoerp-sales/src/main/webapp/ulooerp/build/temp/